In [3]:
import mysql.connector

conn = mysql.connector.connect(username= "root",
                               host = "127.0.0.1",
                               password = "Admin@123",
                               database = "dataspark1")

cursor = conn.cursor()

In [2]:
create_customer_table = """CREATE TABLE customer (
    customerkey INT PRIMARY KEY,
    gender VARCHAR(10),
    name VARCHAR(100),
    city VARCHAR(100),
    state_code VARCHAR(100),
    state VARCHAR(100),
    zip_code VARCHAR(20),
    country VARCHAR(100),
    continent VARCHAR(50),
    birthday DATE,
    age INT,
    segment VARCHAR(50)
);"""
cursor.execute(create_customer_table)
conn.commit()

In [17]:
create_product_table = """CREATE TABLE product (
    productkey INT PRIMARY KEY,
    product_name VARCHAR(255) NOT NULL,
    brand VARCHAR(255) NOT NULL,
    color VARCHAR(50),
    unit_cost_usd DECIMAL(10, 2),
    unit_price_usd DECIMAL(10, 2),
    subcategorykey INT,
    subcategory VARCHAR(255),
    categorykey INT,
    category VARCHAR(255)
);"""
cursor.execute(create_product_table)
conn.commit()

In [19]:
create_sales_table='''CREATE TABLE sales (
    order_number INT PRIMARY KEY,
    line_item INT NOT NULL,
    order_date DATE NOT NULL,
    delivery_date DATE,
    customerkey INT NOT NULL,
    storekey INT NOT NULL,
    productkey INT NOT NULL,
    quantity INT NOT NULL,
    currency_code VARCHAR(10),
    shipping_days INT
);'''
cursor.execute(create_sales_table)
conn.commit()

In [ ]:
create_store_table = """CREATE TABLE stores (
    storekey INT PRIMARY KEY,
    country VARCHAR(100),
    state VARCHAR(100),
    square_meters DECIMAL(10, 2),
    open_date DATE
);"""
cursor.execute(create_store_table)
conn.commit()

In [4]:
drop_table = """DROP TABLE customer"""
cursor.execute(drop_table)
conn.commit()

In [13]:
select_query = """SELECT * FROM stores"""

cursor.execute(select_query)
res = cursor.fetchall()

In [14]:
res

[]

In [5]:
column_names = """SELECT COLUMN_NAME 
FROM INFORMATION_SCHEMA.COLUMNS 
WHERE TABLE_NAME = 'stores';"""

cursor.execute(column_names)
cursor.fetchall()

[('storekey',), ('country',), ('state',), ('square_meters',), ('open_date',)]

In [ ]:
cursor.execute(drop_table)
conn.commit()